body{
    overflow: hidden;
}

.logo {
    width:3%;
    height:auto;
    margin-left: -78%;
    margin-right: 1%;
}

.max_width{
    max-width: 90px;
    width: 100%;
}

.rounder{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

.containerA{
    display: grid;
    grid-template-columns: 7fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 553px 0px;
    grid-template-areas: "textoss imagensparte1 imagensparte2 imagensparte3 imagensparte4"
                         "textoss2 imagensparte12 imagensparte22 imagensparte32 imagensparte42";
}

.textoss{
    grid-area: textoss;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.imagensparte1{
    grid-area: imagensparte1;
}

.imagensparte2{
    grid-area: imagensparte2;
}

.imagensparte3{
    grid-area: imagensparte3;
}

.imagensparte4{
    grid-area: imagensparte4;
}

.image1{
    width: 80%;
    height: 55%;
    margin-top: 30%;
    background: url(./assets/Image1.png);
    background-color: rgb(129, 212, 187);
    background-position-x: left;
    background-position-y: bottom;
    background-size: 150%;
    border-radius: 112px;
    background-repeat: no-repeat;
}

.image2{
    width: 80%;
    height: 55%;
    margin-top: 20%;
    background: url(./assets/Image2.png);
    background-color: rgb(236, 138, 58);
    background-position: center;
    background-size: 130%;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 112px;
}

.image3{
    width: 80%;
    height: 55%;
    margin-top: -40%;
    background: url(./assets/Image3.png);
    background-color: rgb(254, 162, 242);
    background-size: 150%;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 112px;
}

.image4{
    width: 80%;
    height: 55%;
    margin-top: 20%;
    background: url(./assets/Image6.png);
    background-color: rgb(162, 219, 144);
    background-size: 300%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 112px;
}

.image5{
    width: 80%;
    height: 55%;
    margin-top: 15%;
    background: url(./assets/Image5.png);
    background-color: rgb(63, 68, 206);
    background-position: left;
    background-size: 200%;
    background-repeat: no-repeat;
    border-radius: 112px;
}

.image6{
    width: 80%;
    height: 55%;
    margin-top: 20%;
    background: url(./assets/Image4.png);
    background-color: #AD6ACF;
    background-position: top;
    background-size: 200%;
    background-repeat: no-repeat;
    border-radius: 112px;
}

.font_style{
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    color: black;
}

.image__img {
	display: block;
	width: 100%;
}

.image__overlay {
	position: absolute;
	max-width: 200px;
    width: 100%;
    height: 200px;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay--primary {
	background: #00000082;
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 025s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.logo {
    width:3%;
    height:auto;
    margin-left: -78%;
    margin-right: 1%;
}

input[type='file']{
    display: none;
}

.max_width{
    max-width: 90px;
    width: 100%;
}

.rounder{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

#photo{
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
}


.same_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.align_center {
    margin-top: 1%;
}

.align_center_horizontally{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.align_end{
    display: flex;
    align-items:center;
    justify-content: end;
    margin-right: 2%;
}