.image__img {
	display: block;
	width: 100%;
}

.image__overlay {
	position: absolute;
	max-width: 200px;
    width: 100%;
    height: 200px;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay--primary {
	background: #00000082;
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 025s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.logo {
    width:3%;
    height:auto;
    margin-left: -78%;
    margin-right: 1%;
}

input[type='file']{
    display: none;
}

.max_width{
    max-width: 90px;
    width: 100%;
}

.rounder{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

#photo{
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
}

.font_style{
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;
}

.same_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.align_center {
    margin-top: 1%;
}

.align_center_horizontally{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.align_end{
    display: flex;
    align-items:center;
    justify-content: end;
    margin-right: 2%;
}

.containerA{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 60px 70px 320px;
    grid-template-areas: "headera"
                         "sidebara"
                         "titulotabela"
                         "footere";
}

.headera{
    grid-area: headera;
    background-color: rgb(0, 0, 108);
}
.sidebara{
    grid-area: sidebara;                                        
}
.titulotabela{
    grid-area: titulotabela;
}
.footere{
    grid-area: footere;
    margin-left: 2%;
    margin-right: 2%;
}

.scrollbar {
    border: none;
    overflow-x: scroll;
    overflow-y: scroll;
    }
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    ::-webkit-scrollbar-track {
    border: 1px solid #ffffff;
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #000000;
}