.containerA{
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "senac login";

}

.senac{
  grid-area: senac;
  background-image: url(../Login/assets/ImagemFundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.login{
  grid-area: login;           
}

.senac_estoque{
  max-width:60%;
  padding-top: 04%;
  margin:15%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.font_style{
  font-family: 'Poppins', sans-serif;
  margin-left: 2%;
  font-size: 90%;
}
